<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Üzenetek</title>
</head>
<style>
    #tablazat {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding: 10px 20px 0px 20px;
    }

    td, th{border: 2px solid dodgerblue;}
    td{padding: 6px 6px}

</style>
<body>
<div th:insert="menu"></div>
<h1 style="text-align: center">Üzenetek</h1>
<br>
<table id="tablazat">
    <tr>
        <th>Küldő</th>
        <th>Időpont</th>
        <th>Tartalom</th>
    </tr>
    <tr th:each="uzenet : ${uzenetek}">
        <td th:text="${uzenet.irta}"></td>
        <td th:text="${uzenet.datum}"></td>
        <td id="uzenet" style="width: 25%" th:text="${uzenet.tartalom}"></td>
    </tr>
</table>

</body>
</html>